<p-dialog class="suppression-popup"
          header="Suppression des produits"
          [(visible)]="showPopupDelete"
          [modal]="true"
          [dismissableMask]="true"
          [draggable]="false"
          [resizable]="false">

  <article class="message-text">
  Vous êtes sur le point de supprimer les produits {{ product.productName }}.
  </article>
  <div class="buttons-bloc">
    <button id="cancel-btn" class="btn-cancel-container" type="button" (click)="closeDialog()"> Annuler</button>
    <button id="delete-btn" class="btn-delete-container"
            (click)="delete()">Valider la suppression
    </button>
  </div>
</p-dialog>
