@import "../../../../src/theme/colors.scss";

.content {
  margin: 15px 0;

  .table {
    width: 100%;
    background: white;
    border-radius: 8px;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .tr {
      transition: background-color 0.2s ease;

      &:hover {
        background-color: $light-grey;
      }

      .td {
        padding: 15px;
        border-bottom: 1px solid $white;
        color: #2c3e50;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;

        &:first-child {
          font-weight: 600;
        }
      }
    }
  }
}

.quantity-control {
  display: inline-flex;
  justify-content: space-around;
  gap: 10px;
  min-width: 150px;
  position: relative;

  .quantity-btn {
    width: 30px;
    height: 30px;
    border-radius: 10%;
    border: none;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    transition: all 0.2s ease;
    margin: 3px;
    position: relative;
    z-index: 1;

    &.minus {
      background-color: $grey;
      color: $white;
      border: 1px solid $grey;

      &:hover {
        background-color: $light-grey;
        color: $white;
        border: 1px solid $grey;
      }
    }

    &.plus {
      background-color: $green;
      color: white;

      &:hover {
        background-color: $white;
        color: $green;
      }
    }
  }

  .quantity-value {
    font-size: 16px;
    min-width: 40px;
    text-align: center;
    position: relative;
    z-index: 2;
  }
}

.delete-btn {
  background-color: $red;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $white;
    color: $red;
    border: 1px solid $red;
  }
}
