$white: #ffffff;
$grey: #8b8178;
$grey-secondary: #f2f2f2;
$blue: #0052ff;
$brown: #381a0a;
$light-grey: #ddddd4;
$mid-grey: #b0b1a6;
$dark-grey: #8b8178;
$green: #29ff9c;
$red: #f6261b;
$pink: #ff91de;
$yellow: #FFF078;
$cyan: #00E8FF;
$light-blue: #06509a;
