<article class="select-wrapper" [ngClass]="{ 'error': !control.valid, 'valid': control.valid }">

  <select [formControl]="control"
          [attr.data-value-css]="control.value"
          [id]="labelId"
          [name]="labelId">
    @if (!isRequired) {
      <option value=""></option>
    }
    @for (state of itemsValue; track state.value) {
      <option [ngValue]="state.value">
        {{ state.label }}
      </option>
    }
  </select>

  <label [for]="labelId">{{ labelString }}</label>

  <div class="icon">
    <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M14 1.5L7 8.5L0 1.5L1.5 0L7 5.5L12.5 0L14 1.5Z"
            fill="#000"/>
    </svg>
  </div>

</article>
